/* css files add styling rules to your content */
body {
  background: #ffffff;
  margin: 0;
  font-family: "Fjalla One", sans-serif;
  font-family: "Noto Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "fjalla one", sans-serif;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 40px;
  margin-right: 5px;
} 

nav {
  font-weight: 600;
  padding-right: 5px;
  background-color: black;
  color: #000000;
  padding: 1.5em 5%;

  display: grid;
  gap: 1.5em;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px,1ft));
}

.nav__title{
  margin: 0 auto;
}

.nav__list{
  padding: 0;
  list-style: none;
  margin: 0 auto;

  display: grid;
  justify-content: end;
  grid-auto-flow: column;
  gap: 2.5em;
}

.nav__link{
  color: #efefef;
  text-decoration: none;
  font-weight: normal;
}

@media (min-width:693px) {
  .nav__title, .nav__list{
    margin: unset;
  }
}

.cover {
  height: 500px;
  background-image: url(https://cdn.glitch.global/c8ae3563-7820-43f9-9f9d-9f7a9c05c680/ww.jpg?v=1685467472417);
  color: rgb(255, 253, 253);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  display: flex;
  align-items: center;
}

.cover-small {
  height: 200px;
  background-blend-mode: normal;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.6);
}

.card-title {
  min-height: 3rem;
}
.card-text {
  min-height: 10rem;
}

.product-stripe {
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stripe-container {
  display: flex;
  flex-direction: row;
}

.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}

.reposive-inframe ifrem {
  position: relative;
  padding-top: 56.25%;
}
.reposive-inframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina {
  width: 100%;
  background-color: #343a40;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #343a40;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #343a40;
  padding: 15px 10px;
  text-align: center;
  color:white;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
